---
import Layout from "@layouts/Layout.astro";
import DogTable from "@components/astro/DogTable.astro";
import { type DogSearchParams } from "@typedef/apiTypes";
import { breedsStore } from "@stores/allBreeds";
import { searchTermsStore } from "@stores/search";

const { breed } = Astro.params;

const breeds = breedsStore.get();

if (!breed || !breeds?.includes(breed)) return Astro.redirect("/404");

const existingSearchTerms = searchTermsStore.get();

searchTermsStore.set({
	...existingSearchTerms,
	breeds: [breed],
	from: 0,
});
---

<Layout title={breed} isHTMX={true}>
	<div class="flex gap-2 container mx-auto">
		{breed}
	</div>
	<div class="my-4 container mx-auto">
		<DogTable lockedBreeds={[breed]} />
	</div>
</Layout>
