---
import { z } from "zod";
import Layout from "@layouts/Layout.astro";
import DogTable from "@components/astro/DogTable.astro";
import { fetchFetch } from "src/utils/fetchFetch";
import { dogSearchFetchParser, type DogSearchParams } from "@typedef/apiTypes";
import { breedsStore } from "@stores/allBreeds";

const { breed } = Astro.params;

const breeds = breedsStore.get();

if (!breed || !breeds?.includes(breed)) return Astro.redirect("/404");

//const fetchByBreed = await fetchFetch(Astro, {
//	path: "/dogs/search",
//	method: "GET",
//	data: {
//		breeds: [breed],
//	},
//});

const partialProps: DogSearchParams = {
	breeds: [breed],
};

//const fetchedDogIds = dogSearchFetchParser.parse(await fetchByBreed.json());
//const dogIds = fetchedDogIds.resultIds;
---

<Layout title={breed}>
	<div class="flex gap-2 container mx-auto">
		{breed}
	</div>
	<div class="my-4 container mx-auto">
		<DogTable partialProps={partialProps} />
	</div>
</Layout>
