---
import type { Dog } from "@typedef/apiTypes";
import { Image } from "astro:assets";

import { faker } from "@faker-js/faker";
import { $dogFavorites } from "src/store/favorites";
import FavoriteDog from "./FavoriteDog.astro";

const dummyDogs: Dog[] = Array.from({ length: 5 }).map((_, i) => {
	return {
		img: `https://loremflickr.com/320/240/dog?random=${i}`,
		id: i.toString(),
		name: faker.person.firstName(),
		breed: faker.person.lastName(),
		age: Math.round(Math.random() * 10),
		zip_code: faker.location.zipCode(),
	};
});

interface Props {
	dogs?: Dog;
}
const favorites = $dogFavorites.get();
console.log({ favorites });

const { dogs } = Astro.props;
---

<div class="flex flex-col gap-2">
	<h2 class="text-start font-bold text-xl">my selected dogs</h2>
	{
		Object.values(favorites)
			?.filter((x) => x)
			.map((dog) => <FavoriteDog dog={dog} />)
	}
</div>
